<div class="row">
  <div class="col-md-6">
    <h3>Student Details</h3>
    <ul class="list-group">
      <li class="list-group-item">Name: {{ student?.name }}</li>
      <li class="list-group-item">
        Courses:
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let enrollment of student?.enrollments"
          >
            <a [routerLink]="['/course', enrollment.course.id]">
              {{ enrollment.course.title }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="course">Course:</label>
        <select
          class="form-control"
          id="course"
          name="course"
          [(ngModel)]="courseToEnroll"
        >
          <option *ngFor="let course of courses" [value]="course.id">
            {{ course.title }}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="enrollCourse(courseToEnroll)">
        Enroll
      </button>
    </form>
  </div>
</div>
